.root {
    padding: 16px 32px;
    display: grid;
    grid-template-columns: minmax(0, 350px) minmax(0, 1fr);
    gap: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
